# Importando biblioteca

In [1]:
import pandas as pd

# Lendo arquivo HTML

Aparentemente é uma lista, porque começa com colchetes. Primeiro temos os dados daquela primeira tabela, começando em 1998 e indo até 2008. Abaixo disso, temos os dados da segunda tabela e, por fim, os dados da terceira.

Mas, por que não surgiu um dataframe?

A função read_html() busca pelas tags table e transforma esses dataframes em uma lista. Ou seja, nossa lista contém os dataframes um abaixo do outro.

In [4]:
path = 'C:\\Users\\ModalGR\\Desktop\\Cursos_e_projetos\\Formação_Python_para_data_Science_alura\\Curso-de-Pandas-IO-trabalhando-com-diferentes-formatos-de-arquivos\\aula4_lendo_HTML_XML\\filmes_wikipedia.html'

dados_html = pd.read_html(path)
dados_html

[       0                      1
 0   1998             100 Movies
 1   1999              100 Stars
 2   2000             100 Laughs
 3   2001            100 Thrills
 4   2002           100 Passions
 5   2003  100 Heroes & Villains
 6   2004              100 Songs
 7   2005       100 Movie Quotes
 8   2005              25 Scores
 9   2006             100 Cheers
 10  2006            25 Musicals
 11  2007   100 Movies (Updated)
 12  2008        AFI's 10 Top 10
 13   vte                    vte,
                             Film  Release year              Director  \
 0                   Citizen Kane          1941          Orson Welles
 1                     Casablanca          1942        Michael Curtiz
 2                  The Godfather          1972  Francis Ford Coppola
 3             Gone with the Wind          1939        Victor Fleming
 4             Lawrence of Arabia          1962            David Lean
 ..                           ...           ...                   ...
 95                 The Searchers          1956             John Ford
 96              Bringing Up Baby          1938          Howard Hawks
 97                    Unforgiven          1992        Clint Eastwood
 98  Guess Who's Coming to Dinner          1967        Stanley Kramer
 99           Yankee Doodle Dandy          1942        Michael Curtiz

                       Production companies  Rank
 0                       RKO Radio Pictures     1
 1                    Warner Bros. Pictures     2
 2   Paramount Pictures, Alfran Productions     3
 3          Selznick International Pictures     4
 4                         Horizon Pictures     5
 ..                                     ...   ...
 95                  C. V. Whitney Pictures    96
 96                      RKO Radio Pictures    97
 97                     The Malpaso Company    98
 98                       Columbia Pictures    99
 99                   Warner Bros. Pictures   100

 [100 rows x 5 columns],
           hidevteAFI's 100 Years...100 Movies (1998)  \
 0  Citizen Kane (1941) Casablanca (1942) The Godf...

         hidevteAFI's 100 Years...100 Movies (1998).1
 0  Citizen Kane (1941) Casablanca (1942) The Godf...  ]

In [5]:
type(dados_html)

list

In [6]:
len(dados_html)

3

In [8]:
top_filmes = dados_html[1]
top_filmes

,Film,Release year,Director,Production companies,Rank
0,Citizen Kane,1941,Orson Welles,RKO Radio Pictures,1
1,Casablanca,1942,Michael Curtiz,Warner Bros. Pictures,2
2,The Godfather,1972,Francis Ford Coppola,"Paramount Pictures, Alfran Productions",3
3,Gone with the Wind,1939,Victor Fleming,Selznick International Pictures,4
4,Lawrence of Arabia,1962,David Lean,Horizon Pictures,5
...,...,...,...,...,...
95,The Searchers,1956,John Ford,C. V. Whitney Pictures,96
96,Bringing Up Baby,1938,Howard Hawks,RKO Radio Pictures,97
97,Unforgiven,1992,Clint Eastwood,The Malpaso Company,98
98,Guess Who's Coming to Dinner,1967,Stanley Kramer,Columbia Pictures,99
99,Yankee Doodle Dandy,1942,Michael Curtiz,Warner Bros. Pictures,100

# Escrevendo o Data Frame em HTML

In [10]:
top_filmes.to_html('top_filmes.html')

# Lendo e escrevendo arquivos XML

In [11]:
path = 'C:\\Users\\ModalGR\\Desktop\\Cursos_e_projetos\\Formação_Python_para_data_Science_alura\\Curso-de-Pandas-IO-trabalhando-com-diferentes-formatos-de-arquivos\\aula4_lendo_HTML_XML\\imdb_top_1000.xml'

In [15]:
dados_imdb = pd.read_xml(path)
dados_imdb.head(3)

,index,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"

In [16]:
dados_imdb.to_xml('filmes_imdb.xml')

# DESAFIO

Chegou a hora de testar os conhecimentos desenvolvidos durante a aula.

Vanessa é uma cientista de dados que está realizando algumas análises com dados ambientais. Ela está desenvolvendo um projeto para avaliar o impacto ambiental das atividades humanas em diferentes países do mundo, mas para isso precisa das estimativas populacionais desses países. Ao pesquisar na internet, encontrou uma tabela de estimativas populacionais em um artigo da página Wikipédia.

Assim como Vanessa, seu desafio é obter um DataFrame da tabela que contém as informações do número de habitantes de cada país.

## Lendo a pagina HTML

In [22]:
DF = pd.read_html('https://pt.wikipedia.org/wiki/Lista_de_pa%C3%ADses_por_popula%C3%A7%C3%A3o')[0]
df_desafio = DF.drop('Unnamed: 0', axis=1)
df_desafio

,Posição,País (ou território dependente),Estimativa da ONU,Crescimento desde a última estimativa,Estimativa Oficial
0,1,Índia,1 429 921 746,+269.108.746,Estimativa oficial
1,2,China,1 426 391 281,+87.778.313,Censo oficial
2,3,Estados Unidos,339 987 103,+31.241.565,Censo oficial
3,4,Indonésia,277 184 719,+33.168.546,Estimativa oficial
4,5,Paquistão,240 215 932,+65.636.932,Estimativa oficial
...,...,...,...,...,...
245,–,Ilha de Ascensão (Reino Unido),1 100,NaN,Estimativa oficial[10]
246,195,Vaticano,825,NaN,Estimativa oficial
247,–,Ilhas Cocos (Keeling) (Austrália),596,NaN,Estimativa oficial
248,–,Tristão da Cunha (Reino Unido),264,NaN,Estimativa oficial[11]
249,–,Ilhas Pitcairn (Reino Unido),67,NaN,Estimativa oficial

## Salvando a pagina HTML

In [23]:
df_desafio.to_html('estimativas populacionais.html')